html, body {
	height: 100%;
	font-family: 'Nunito', sans-serif;
	margin: 0;
}

.gap, .gap-1, .gap-2, .gap-3, .gap-4, .gap-5 {
	display: block;
}

.gap {
	height: 5px;
}
.gap-1 {
	height: 10px;
}
.gap-2 {
	height: 20px;
}
.gap-3 {
	height: 30px;
}
.gap-4 {
	height: 40px;
}
.gap-5 {
	height: 50px;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.setCurrentLocation {
	width: 30px;
	height: 100%;
	background: #cccccc;
	border: 1px solid #888888;
	border-left: none;
}

.addressBar {
	height: 160px;
	padding: 2rem 1.25rem 0.75rem;
	background: #fdfdfd;
}

.addressFields {
	width: 100%;
	height: 34px;
	background: #eeeeee;
	color: #999999;
	padding: 7px 10px;
	border: none;
    border-radius: 8px;
	font-size: 14px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.addressFields:focus {
	outline: none;
}

.title {
	font-size: 16px;
	font-weight: 700;
}

.backLink {
	display: flex;
	position: absolute;
	left: 10px;
	font-size: 16px;
	font-weight: 700;
}

.backIcon {
	width: 20px;
	margin-right: 5px;
}

.backIcon img {
	vertical-align: baseline;
}


#search-input {
	width: 100%;
}

.prediction-list {
	width: 100%;
}

.prediction-list li {
	list-style: none;
	padding: 10px 0;
	display: grid;
	grid-template-columns: 50px 20px auto;
	border-bottom: 1px solid #eeeeee;
}

.prediction-list li img {
	width: auto;
}

.prediction-list .main {
	font-size: 16px;
	font-weight: 900;
}

.marker-icon {
	background: #eeeeee;
    border-radius: 50%;
    padding: 12px;
}

.marker-icon img {
	margin: 0 auto;
}

#mapContainer {
	height: calc(100vh - 160px);
	width: 100%;
}

/* #mapContainer.withDetails {
	height: calc(100vh - 300px);
} */

.marker, .marker-inner {
	position: absolute;
	border-radius: 100%;
	user-select: none;
	transform: translate(-50%, -50%);
}

.marker {
	width: 24px;
	height: 24px;
	/* top: 50%;
	left: 50%; */
	background-color: #00c799;
	border: 2px solid #fff;
}

.marker-inner {
	width: 8px;
	height: 8px;
	top: 10px;
	left: 10px;
    background-color: #fff;
}

.marker-text {
	position: absolute;
	left: -38px;
	bottom: 15px;
	background: #fff;
	padding: 6px 10px;
	/* max-width: 150px; */
	width: 80px;
	font-size: 12px;
	font-weight: 900;
	border: 1px solid #dddddd;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	box-shadow: 0 3px 5px -5px #dddddd;
	border-radius: 7px;
}

.tripBar {
	position: fixed;
	bottom: 0;
	background: #fff;
	width: 100%;
	height: 140px;
	padding: 10px 20px;
}

.tripDetails {
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	font-weight: 700;
}

.tripDetails .price {
	font-size: 18px;
}

.tripDetails small {
	font-weight: 700;
}

.tripButton {
	margin-top: 15px;
}

.tripButton button {
	color: #fff;
    font-size: 16px;
    background: #00c799;
}