html, body {
	height: 100%;
	font-family: 'Nunito', sans-serif;
	margin: 0;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.fieldDiv {
	height: 30px;
}

.fieldDiv:nth-of-type(1) {
	margin-bottom: 5px;
}

.fieldDiv input {
	height: 100%;
}

.setCurrentLocation {
	width: 30px;
	height: 100%;
	background: #cccccc;
	border: 1px solid #888888;
	border-left: none;
}

.addressBar {
	padding: 2rem 1.25rem 0.75rem;
	background: #fdfdfd;
}

.addressFields {
	width: 100%;
	height: 34px;
	background: #eeeeee;
	color: #999999;
    padding: 7px 10px;
    border-radius: 8px;
    font-size: 14px;
}

.title {
	font-size: 20px;
	font-weight: 700;
}

.backLink {
	display: flex;
}

.backLink img {
	height: auto;
}


#search-input {
	width: 100%;
}

.prediction-list {
	/* display: flex; */
	width: 100%;
	/* flex-flow: row nowrap;
	overflow: auto;
	padding: 5px 5px 0 5px; */
}

.prediction-list li {
	list-style: none;
	padding: 10px 0;
	display: grid;
	grid-template-columns: 50px 20px auto;
	border-bottom: 1px solid #eeeeee;
}

.prediction-list li img {
	width: auto;
}

.prediction-list .main {
	font-size: 16px;
	font-weight: 900;
}

.marker-icon {
	background: #eeeeee;
    border-radius: 50%;
    padding: 12px;
    /* margin-right: 15px; */
}

.marker-icon img {
	margin: 0 auto;
}

.marker, .marker-inner {
	position: absolute;
	border-radius: 100%;
	user-select: none;
	transform: translate(-50%, -50%);
}

.marker {
	width: 24px;
	height: 24px;
	top: 50%;
	left: 50%;
	background-color: #00c799;
	border: 2px solid #fff;
}

.marker-inner {
	width: 8px;
	height: 8px;
	top: 10px;
	left: 10px;
    background-color: #fff;
}

.marker-text {
	position: absolute;
    left: -25px;
    bottom: 15px;
    background: #fff;
    padding: 1px 3px;
    max-width: 100px;
    width: auto;
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.gap, .gap-1, .gap-2, .gap-3, .gap-4, .gap-5 {
	display: block;
}

.gap {
	height: 5px;
}
.gap-1 {
	height: 10px;
}
.gap-2 {
	height: 20px;
}
.gap-3 {
	height: 30px;
}
.gap-4 {
	height: 40px;
}
.gap-5 {
	height: 50px;
}
